		<div class="footer">
			<p>© GoToDaddy 2016</p>
		</div>
	</div>
	<script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/jquery.tagsinput.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/wysihtml5-0.3.0.js"></script>
    <script src="/javascripts/bootstrap.wysihtml5.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>