<% include ../header %>
	<% include ../helpers/search_form %>
	
	<div class="jumbotron">
		<h1>Come To Daddy</h1>
		<p class="lead">Sistema para busca de pets perdidos, foi desenvolvido usando Node.JS, MongoDB, EJS, Twtitter Bootstrap.</p>
		<p><a class="btn btn-lg btn-success" href="/" role="button">Início</a></p>
	</div>
    
<% include ../footer %>