<% include ../header %>
	<% include ../helpers/search_form %>
	
	<div class="jumbotron">
		<h1>Come To Daddy</h1>
        
        <img class="lead" src="imagem/cometodaddy.jpg" height="253" width="360" alt="">

		<p><a class="btn btn-lg btn-success" href="/" role="button">Início</a></p>
	</div>
    
<% include ../footer %>


 