<div class="search col-lg-12">
		<form action="/search" method="get">
			<input type="text" name="search" id="search" class="form-control" placeholder="Busca">
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
	</div>
</div>